<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: black;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

</style>
<header>
<h2> REPRÉSENTATION STATISTIQUE</h2>
<a href="http://127.0.0.1:5000">Accueil</a>
</header>


<title> Statistics </title>
<link rel="stylesheet" href="styles.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);
      google.charts.setOnLoadCallback(drawChart);
      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['date',    'ncalls', 'tottime',   'totpercall',  'cumtime'],
          ['04/12/19',  989,      0,          0,             0],
          ['04/12/19',  796,      100,        0,             100],
          ['05/12/19',  989,      0,          0,             0],
          ['06/12/19',  989,      100,        0,             100],
          ['06/12/19',  989,      300,        0,             900],
	  ['07/12/19',  989,      300,        0,             600],
	  ['07/12/19',  989,      200,        0,             300],
	  ['07/12/19',  990,      0,          0,             0]
        ]);

        var options = {
          title : 'Statistiques sur les hits sur les URL réduites et les demandes de minify une URL',
          vAxis: {title: 'Profilage'},
          hAxis: {title: 'Date'},
          seriesType: 'bars',
          series: {3: {type: 'line'}}        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'URLs per Day'],
          ['06/12/19',   1],
          ['07/12/19',   1],
          ['04/12/19',   3],
          ['05/12/19', 3]
        ]);

        var options = {
          title: 'Minify les demandes par jour'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
      
</script>

</head>
<body>
<h4> Explication de la colonne </h4>
<p>  ncalls	: pour le nombre d'appels</p>
<p>  tot time	: pour le temps total passé dans la fonction donnée (et à l'exclusion du temps passé dans les appels aux sous-fonctions)</p>
<p>  percall	: est le quotient de l'heure divisé par ncalls</p>
<p>  cumtime	: est le temps cumulé passé dans cette sous-fonction et dans toutes les sous-fonctions (de l'invocation à la sortie). Ce chiffre est précis même pour les fonctions récursives.</p>
<table class="columns">
      <tr>
        <div id="chart_div" style="width: 1200px; height: 700px;"></div>
      </tr>
	<tr>
        <div id="piechart" style="width: 1200px; height: 700px;"></div>
      </tr>
    </table>
<footer>
  <p>Version 3</p>
</footer>
</body>
</html>